@import "mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$square-size: 110px;

.game {
    @include center;
    height: 100vh;
    background-color: #333;

    &_content {
        @include center;
        flex-direction: column;
        height: 95%;
        width: 95%;
        max-height: 920px;
        max-width: 1050px;
        border: 1px solid black;
        border-radius: 3%;
        background-color: rgb(221, 221, 221);
    }
}

.board_row {
    @include center;
    height: $square-size;

    .square {
        background: #fff;
        border: 1px solid #999;
        font-size: 34px;
        font-weight: bold;
        height: $square-size;
        width: $square-size;
    
        &:focus {
            outline: none;
            background: #ddd;
        }
    }
}
    
.status {
    @include center;
    font-family: 'Shizuru', cursive;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.restart {
    margin-top: 30px;
    padding: 12px 30px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgb(112, 110, 0);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(255, 253, 114);
}

.pastafarianism {
    color: rgb(255, 47, 47);
    font-size: 46px;
}

.ghost {
    font-size: 43px;
    color:rgb(0, 128, 160);
}
