@import "mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$square-size: 110px;

.game {
    @include center;
    height: 100vh;
    background-color: #333;

    &_content {
        @include center;
        flex-direction: column;
        height: 95%;
        width: 95%;
        max-height: 920px;
        max-width: 1050px;
        border: 1px solid black;
        border-radius: 40px;
        background-color: rgb(221, 221, 221);
    }
}

.board_row {
    @include center;
    height: $square-size;

    .square {
        background: #fff;
        border: 1px solid #999;
        font-size: 34px;
        font-weight: bold;
        height: $square-size;
        width: $square-size;
    
        &:focus {
            outline: none;
            background: #ddd;
        }
    }
}
    
.status {
    width: 100%;
    font-family: 'Nerko One', cursive;
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 5px 12px;
}

.restart {
    margin-top: 35px;
    padding: 12px 30px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgb(112, 110, 0);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(255, 253, 114);
}

.pastafarianism {
    color: rgb(255, 47, 47);
    font-size: 43px;
}

.ghost {
    font-size: 40px;
    color:rgb(0, 128, 160);
}


@media (min-width: 720px) {
    $square-desktop: 180px;

    .board_row {
        height: $square-desktop;

        .square {
            height: $square-desktop;
            width: $square-desktop;
        }
    }
    .status {
        font-size: 46px;
    }

    .pastafarianism {
        font-size: 55px;
    }

    .ghost {
        font-size: 52px;
    }
}